body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    padding: 3%;
}

main { 
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h2 {
    font-weight: 100;
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
    letter-spacing: .38em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

#position {
    padding-bottom: 0%;
    font-size: 1em;
}

#education {
    padding-bottom: 0%;
}

#insights {
    padding-top: 1em;
}

.embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}